*{
    box-sizing: border-box;
    font-family: Jumbalo;
    font-weight: 100;
}
body{
    background-image: url(Img/bg-global.svg);
    background-repeat: repeat-y;
    background-size: cover;
    margin: 0;
    padding: 0;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}
header h1{
    color: white;
    display: flex;
    justify-content: end;
    margin-right: 15px;
    font-size: 20px;
}
.section1 div{
    display: flex;
    justify-content: space-around;
}
.anonime{
    padding: 0 10px;
    font-size: 32px;
    width: 283px;
    height: 53px;
    border-radius: 15px;
    background-color: rgba(93, 155, 164, 0.7);
    border: none;
    text-align: center;
    color: white;
    
}
.anonime:active{
    border: none;
}
.text{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 28px;
    text-shadow: 3px 3px 0 #FFFFFF;
}
.text h2{
    margin: 0;
}
.buttons {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 46vh; */
  }
  
  .box {
    border: 1px solid black;
    box-sizing: border-box;
  }
  .b1{
    background-color: rgba(93, 129, 150, 0.89);
    clip-path: polygon(0 0, 64% 0, 100% 100%, 0% 100%);
  }
  .b2{
    background-color: rgba(245, 115, 43, 0.89);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%);
  }
  .b3{
    background-color: rgba(255, 5, 4, 0.84);
    clip-path: polygon(0 0, 100% 0, 71% 100%, 0 100%);
  }
  .b4{
    background-color: rgba(246, 49, 156, 0.89);
    clip-path: polygon(25% 10%, 100% 0, 100% 100%, 0 100%);
    
  }