@font-face {
  font-family: 'Jumbalo', sans-serif;
  src: url("../font/Jumbalo.ttf") format('opentype');
}

@font-face {
  font-family: 'Dinomouse', sans-serif;
  src: url("../font/Dinomouse.otf") format('truetype');
}

* {
  //font-family: "Dinomouse", "roboto", "sans-serif";
  font-family: Jumbalo, "roboto", "sans-serif";
  font-weight: 100;
  box-sizing: border-box;
}

$font-input: "Dinomouse", "roboto", "sans-serif";
$colorInput: rgba(93, 155, 164, 0.7);
$colorInput-2: rgba(51, 106, 114, 0.7);

body {
  background: url("../img/bg-global.svg") repeat-y;
  background-size: cover;
  margin: 0;
  padding: 0;

  main{
    overflow: hidden;
    //max-width: 480px;
    margin: 0 auto;
  }

  //font jumbalo
  .txt-jumbalo{
    font-family: Jumbalo , sans-serif;
  }

  .txt-dinamouse{
    font-family: Dinomouse , sans-serif;
  }

  //btn with jumbalo font
  .btn{
    text-decoration: none;
    color: white;
    background-color: $colorInput-2;
    padding:  0px 30px  ;
    border-radius: 25px;
    font-size: 20px;

  }

  //border black to text
  .btn_brd_blk{
    text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;  }

  //box-shadow black
  .shadow{
    box-shadow: 1px 3px 7px #000;
  }

  //font-rotate
  .rotate{
    display: inline-block;
    margin: 0 10px ;
    transform: rotate(20deg);
  }

  @keyframes zoom-in-zoom-level-1 {
    0% {
      transform: scale(0.8, 0.8);
    }
    50% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(0.8, 0.8);
    }
  }


}


