@import "setting";

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;

  div.header {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: white;
    text-shadow: 0px 5px 15px #000;

    .score {
      font-size: 90%;

      &:nth-of-type(3){
        padding-top: 13px;
      }


    }

    .timer {
      text-align: center;
      color: #E2F500;
      padding: 20px;




      .timer-graphic {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 2px solid #000000;
        background-color: #FFDB01;
        position: relative;
        animation: zoom-in-zoom-level-1 30s ease infinite;




        &:before {
          content: "";
          width: 10px;
          height: 10px;
          border-radius: 50%;
          top: 50%;
          left: 50%;
          position: absolute;
          transform: translate(-50%, -50%);
          background-color: darkred;
          z-index: 10;
        }

        .arrow {
          clip-path: polygon(46.98% 25.17%, 100% 50%, 60% 50%, 60% 100%, 40% 100%, 40% 50%, 0% 50%);
          position: absolute;
          width: 12px;
          height: 42px;
          top: -10px;
          left: 28px;
          background: darkred;
          transform-origin: 50% 43px;
          transform: rotate(0deg);
          z-index: 10;


        }

        .circle {
          width: 70px;
          height: 70px;
          border: 2px solid black;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-image: repeating-conic-gradient(from 0deg, #343434 0deg 0deg, #FFD005 0deg 360deg);
        }




      }

    }


    .nb-question {
      font-size: 35px;
      align-self: flex-end;
      padding-right: 20px;
      padding-bottom: 15px;
    }
  }

  p.text-question, .list-response li {
    background-color: $colorInput;
    padding: 15px;
    border-radius: 25px;
    color: white;
    font-family: $font-input;
    letter-spacing: 2px;
    //text-shadow: 2px 5px 10px #000;
    line-height: 25px;
    font-size: 1.5em;
    margin: 0;


  }

  p.text-question {
    position: relative;
    margin-bottom: 60px;
    line-height: 30px;

    &:before {
      content: "";
      width: 97px;
      height: 117px;
      display: block;
      position: absolute;
      background: url("/assests/img/really.svg") no-repeat;
      top: -93px;
      right: 0px;
    }
  }

  ol.list-response {
    height: 100%;
    max-height: 500px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    counter-reset: alphabet-counter;
    list-style-type: none;


    li {
      padding: 20px 10px;
      transition: padding 0.1s ease-in-out;
      @extend .btn_brd_blk ;


      &::before {
        content: "( " counter(alphabet-counter, upper-alpha) " ) ";
        counter-increment: alphabet-counter;
        color: rgba(255, 255, 255, 0.7);
        font-weight: bold;
      }

      &:hover {
        cursor: pointer;
        background-color: rgba(123, 154, 161, 0.5);
      }

    }
  }



}

iframe{
  position: fixed;
  top: 0;
  left: 0;
  border: 0;
  height: 100vh;
  width: 100vw;
  display: none;
}


