@font-face {
  font-family: "Jumbalo", sans-serif;
  src: url("../font/Jumbalo.ttf") format("opentype");
}
@font-face {
  font-family: "Dinomouse", sans-serif;
  src: url("../font/Dinomouse.otf") format("truetype");
}
* {
  font-family: Jumbalo, "roboto", "sans-serif";
  font-weight: 100;
  box-sizing: border-box;
}

body {
  background: url("/assests/img/bg-global.svg") repeat-y;
  background-size: cover;
  margin: 0;
  padding: 0;
}
body main {
  overflow: hidden;
  margin: 0 auto;
}
body .txt-jumbalo {
  font-family: Jumbalo, sans-serif;
}
body .txt-dinamouse {
  font-family: Dinomouse, sans-serif;
}
body .btn {
  text-decoration: none;
  color: white;
  background-color: rgba(51, 106, 114, 0.7);
  padding: 0px 30px;
  border-radius: 25px;
  font-size: 20px;
}
body .btn_brd_blk, body main ol.list-response li, main ol.list-response body li {
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}
body .shadow {
  box-shadow: 1px 3px 7px #000;
}
body .rotate {
  display: inline-block;
  margin: 0 10px;
  transform: rotate(20deg);
}
@keyframes zoom-in-zoom-level-1 {
  0% {
    transform: scale(0.8, 0.8);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.8, 0.8);
  }
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
}
main div.header {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: white;
  text-shadow: 0px 5px 15px #000;
}
main div.header .score {
  font-size: 90%;
}
main div.header .score:nth-of-type(3) {
  padding-top: 13px;
}
main div.header .timer {
  text-align: center;
  color: #E2F500;
  padding: 20px;
}
main div.header .timer .timer-graphic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #000000;
  background-color: #FFDB01;
  position: relative;
  animation: zoom-in-zoom-level-1 30s ease infinite;
}
main div.header .timer .timer-graphic:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: darkred;
  z-index: 10;
}
main div.header .timer .timer-graphic .arrow {
  clip-path: polygon(46.98% 25.17%, 100% 50%, 60% 50%, 60% 100%, 40% 100%, 40% 50%, 0% 50%);
  position: absolute;
  width: 12px;
  height: 42px;
  top: -10px;
  left: 28px;
  background: darkred;
  transform-origin: 50% 43px;
  transform: rotate(0deg);
  z-index: 10;
}
main div.header .timer .timer-graphic .circle {
  width: 70px;
  height: 70px;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: repeating-conic-gradient(from 0deg, #343434 0deg 0deg, #FFD005 0deg 360deg);
}
main div.header .nb-question {
  font-size: 35px;
  align-self: flex-end;
  padding-right: 20px;
  padding-bottom: 15px;
}
main p.text-question, main .list-response li {
  background-color: rgba(93, 155, 164, 0.7);
  padding: 15px;
  border-radius: 25px;
  color: white;
  font-family: "Dinomouse", "roboto", "sans-serif";
  letter-spacing: 2px;
  line-height: 25px;
  font-size: 1.5em;
  margin: 0;
}
main p.text-question {
  position: relative;
  margin-bottom: 60px;
  line-height: 30px;
}
main p.text-question:before {
  content: "";
  width: 97px;
  height: 117px;
  display: block;
  position: absolute;
  background: url("/assests/img/really.svg") no-repeat;
  top: -93px;
  right: 0px;
}
main ol.list-response {
  height: 100%;
  max-height: 500px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  counter-reset: alphabet-counter;
  list-style-type: none;
}
main ol.list-response li {
  padding: 20px 10px;
  transition: padding 0.1s ease-in-out;
}
main ol.list-response li::before {
  content: "( " counter(alphabet-counter, upper-alpha) " ) ";
  counter-increment: alphabet-counter;
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
}
main ol.list-response li:hover {
  cursor: pointer;
  background-color: rgba(123, 154, 161, 0.5);
}

iframe {
  position: fixed;
  top: 0;
  left: 0;
  border: 0;
  height: 100vh;
  width: 100vw;
  display: none;
}

/*# sourceMappingURL=questions.css.map */
